{%extends 'base.html'%}  

 {% block title %}ISHI: Benefits-US{% endblock title %} 
 {% block head_canonical %} <link rel="canonical" href="/benefits-us/">{% endblock head_canonical %} 
 {%block header%}
        {%include 'header_static.html' with li_display_text="CAREERS@ISHI"%}
 {%endblock header%}   
 {% block content %}
 <div class="page-content">
      <div class="wrap">
	<div class="jumbotron center">
		<h2>Summary of Benefits</h2>
		<h4>US Office</h4>
	</div>
	<div class="container benefits-section">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10 center">
				<h4>Healthcare</h4>
				<p><u>Eligibility:</u> From the day you are sworn into the Ishi family, Coverage is offered to you, your spouse or domestic partner and extends to your children as well.</p>
				<hr>
				<h4>Health, Life and Disability Insurance</h4>
				<p>Ishi Systems provides comprehensive health, life and disability benefits including:
					<li>A choice of 3 comprehensive health plans from Aetna, including coverage for prescription drugs.</li>
					<li>An up-front company-paid debit card covering 80% of the deductible costs provided with the selection of our High Deductible plan.</li>
					<li>Life Insurance</li>
					<li>Accidental Death and Dismemberment</li>
					<li>Business Travel Accident & Travel assistance</li>
					<li>Short Term Disability & Long Term Disability (including disabilities as a result of pregnancy or childbirth).</li>
					<li>Confidential clinical counselling and crisis intervention services</li>
				</p>
				<hr>
				<h4>Dental Insurance</h4>
				<p>Aetna's Freedom of Choice plan provides the option to choose from a DMO or PPO plan. PPO option allows flexibility for both in-network and out-of-network coverage. Employees may change between the DMO and PPO options on a monthly basis.</p>
				<hr>
				<h4>Vision Insurance</h4>
				<p>Ishi offers Vision Insurance Plan through United Healthcare, with comprehensive coverage in & out of Network.</p>
				<hr>
				<h4>Holidays and Paid Leave</h4>
				<P>Two weeks paid time off per year or more based on employee status and years of service. We allow 10 days to be carried forward to next year at the end of the year. Additional holidays and paid leave:</P>
				<li>Holiday pay for 10 holidays a year</li>
				<li>6 paid personal days</li>
				<li>Bereavement Leave</li>
				<li>Early Fridays to enjoy summer</li>
				<hr>
				<h4>401K PLAN</h4>
				<p>401K plan with a company match.</p>
				<hr>
				<h4>Transportation Benefits</h4>
				<p>Use pre-tax dollars to pay eligible work related mass transportation and parking expenses.</p>
				<hr>
				<h4>Discounts</h4>
				<p>Enjoy employee discounts on entertainment, products and services at outside vendors.</p>
				<hr>
				<h4>Relocation Benefits</h4>
				<p>Ishi provides a comprehensive relocation package as well as any assistance necessary for all positions.</p>
				<br><br>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

      </div>
    </div>
 {% endblock content %}