{%extends 'base.html'%}  

{% block title %}ISHI-Careers: Innovators, Engineers, Perfectionists, We Are Looking For You!{% endblock title %} 
{% block head_canonical %} <link rel="canonical" href="/careers/">{% endblock head_canonical %}
{% block head_meta_description %}
<meta name="description" content="Ishi strongly believes in nurturing talent to drive individual and organizational growth. Our approach is to foster a value based leadership culture and inspire passionate people to pursue excellence.">
{% endblock head_meta_description %}
{% block link_about_class %}active{% endblock %}
{% block content %}
	{%block sub_menu%} 
	 	{% include  "about_drop_down_sub_menu.html" %}
     {%endblock%}
	<div class="page-content">
		<div class="wrap"> 
			<div class="container">
				<div class="jumbotron center">
					<h1>INNOVATORS. ENGINEERS. PERFECTIONISTS.</h1>
					<h3>In case you missed our Super Bowl ad, we are looking for you &#9786;</h3>
				</div>
			</div> 
	<div class="careers-splash-bg">
	<div class="row">
		<div class="col-md-9" style="padding:0px;"><img src="{{baseUrl}}ishisystems/images/careers-splash-left.jpg" style="width:100%"></img></div>
		<div class="col-md-3 auto-hide"></div>
	</div>
</div>
<div class="container text-section">
	<div class="row">
		<div class="col-md-1 center">
		</div>
		<div class="col-md-10 center">
			<h2>Work. Play. Innovate.</h2>
			<h5><i>"An individual is the sum total of their environment."</i></h5><br>
			<p>We are passionate about everything we do - work and fun. We can't have one without the other. If you derive your thrills from taking on tough challenges and are fun to work with, you will fit in well with us.</p><br>
			<p>We take great pride in our vibrant office environs and collaboration friendly infrastructure. In fact, they exemplify and accentuate our desire to create amazing products and innovative solutions.</p>
		</div>
		<div class="col-md-1 center">
		</div>
	</div>
</div>
<div class="careers-section1">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10 center">
				<h2>Learn. Create. Grow.</h2>
				<br>
				<p>Ishi strongly believes in nurturing talent to drive individual and organizational growth. Our approach is to foster a value based leadership culture and inspire passionate people to pursue excellence.</p>
				<br>
			</div>
			<div class="col-md-1">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="row" style="margin-bottom:20px;">
					<div class="col-md-4 center">
						<h4><i>Who Before What</i></h4>
					</div>
					<div class="col-md-4 center" style="border-left: 1px solid #fff;">
						<h4><i>Teamwork and Collaboration</i></h4>
					</div>
					<div class="col-md-4 center" style="border-left: 1px solid #fff;">
						<h4><i>Quality of Thought</i></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 center">
						<h4><i>Courage to take on the Impossible</i></h4>
					</div>
					<div class="col-md-6 center" style="border-left: 1px solid #fff;">
						<h4><i>Continuous Improvement</i></h4>
					</div>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
		<br><br>
	</div>
</div>
<div class="careers-section7">
	<div class="container center">
		<h2 class="margin-bottom">Work @ ISHI</h2>
		<h4>The average tenure of an employee at Ishi is 5+ years.</h4>
	</div>
</div>
<div class="careers-section2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 center">
				<div id="carousel-quotes" class="row carousel slide" data-ride="carousel" data-interval="7000">
					<div class="col-md-1 quote-buttons">
						<a class="btn btn-primary btn-sm width-auto" onclick="site.goToPreviousQuote();"><img src="{{baseUrl}}ishisystems/images/arrow_left.png"></a>
					</div>
					<div class="col-md-10">
						<div class="carousel-inner">
							<div class="item active" style="background-image: none;background-color: #223a44;">
								<blockquote>
									<p class="line-1" style="width:100%;font-size:20px;display:block;"><img src="{{baseUrl}}ishisystems/images/quotation_left.png" class="quote-left"></img>If Ishi hadn't  provided me this exciting opportunity to work on iOS</p>
									<p class="line-2" style="width:100%;font-size:20px;display:block;"> I would not have found my passion for building apps. <img class="quote-right" src="{{baseUrl}}ishisystems/images/quotation_right.png"></img></p>
									<small>Aashima, Senior Analyst</small>
								</blockquote>
							</div>
							<div class="item" style="background-image: none;">
								<blockquote>
									<p class="line-1" style="width:100%;font-size:20px;display:block;"><img src="{{baseUrl}}ishisystems/images/quotation_left.png" class="quote-left"></img>I take immense pride in actively running the Java Meetup community in Ahmedabad </p>
									<p class="line-2" style="width:100%;font-size:20px;display:block;">which has grown to over 500 members within a year. <img class="quote-right" src="{{baseUrl}}ishisystems/images/quotation_right.png"></img></p>
									<small>Aditi, Manager</small>
								</blockquote>
							</div>
							<div class="item" style="background-image: none;">
								<blockquote>
									<p class="line-1" style="width:100%;font-size:20px;display:block;"><img src="{{baseUrl}}ishisystems/images/quotation_left.png" class="quote-left"></img>The Cyber Security Conference at the New York Institute of Technology</p>
									<p class="line-2" style="width:100%;font-size:20px;display:block;"> was extremely informative about new trends, developments and security threats. <img class="quote-right" src="{{baseUrl}}ishisystems/images/quotation_right.png"></img></p>
									<small>Jakub, Senior Analyst</small>
								</blockquote>
							</div>
							<div class="item" style="background-image: none;background-color: #223a44;">
								<blockquote>
									<p class="line-1" style="width:100%;font-size:20px;display:block;"><img src="{{baseUrl}}ishisystems/images/quotation_left.png" class="quote-left"></img>CCL was a great experience to introspect, and identify</p>
									<p class="line-2" style="width:100%;font-size:20px;display:block;"> my strengths and improvement areas as a leader. <img class="quote-right" src="{{baseUrl}}ishisystems/images/quotation_right.png"></img></p>
									<small>Deepak, Tech Manager</small>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-1 quote-buttons">
						<a class="btn btn-primary btn-sm width-auto" onclick="site.goToNextQuote();"><img src="{{baseUrl}}ishisystems/images/arrow_right.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="careers-section3">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10 center">
				<h2 class="margin-bottom">What to Expect</h2>
				<h4>PERFORMANCE COMPENSATION</h4>
				<p>Talent must be rewarded.  Ishi Systems offers a definitive benefits program that is steered towards ensuring a lot more than just needs are met. This helps them focus on creating and delivering the high quality solutions that ISHI has built it's reputation on.</p>
				<br>
				<h4>ADDITIONAL INCENTIVES</h4>
				<p>Our compensation philosophy leans towards providing competitive rewards to all employees. Our remuneration entails not only annual pay checks but also year-end surprise bonuses as well as gifts presented in kind.</p>
				<br>
				<h4>PROFESSIONAL DEVELOPMENT</h4>
				<p>Ishi provides employees with the tools they need to fulfill their career and personal growth ambitions, including:</p>
				<p>- Tuition assistance for academic and technical certification </p>
				<p>- Paid professional training and conferences</p>
				<p>- Reimbursement for pre-approved resources for self-development</p>
				<p>- Leadership development programs</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="careers-section4">
	<div class="container">
		<div class="row">
			<div class="col-md-12 center">
				<h2 class="margin-bottom">Benefits</h2>
			</div>
		</div>
		<div class="row center">
			<div class="col-md-4">
				<a href="/benefits-us" target="_blank">USA</a>
			</div>
			<div class="col-md-4">
				<a href="/benefits-switzerland" target="_blank">SWITZERLAND</a>
			</div>
			<div class="col-md-4">
				<a href="/benefits-india" target="_blank">INDIA</a>
			</div>
		</div>
	</div>
</div>
<div class="section-light" id="positions">
	<div class="container" style="padding-bottom:30px">
		<div class="row">
			<div class="col-md-12 center margin-bottom">
				<h2>Open Positions</h2>
			</div>
		</div>
		<div class="performance-table" id="jobs_list" name="jobs_list"/>
	</div>
</div>
</div>
</div>
{%endblock content%}
{% block page_usable_javascript %}
	<script>
		var jobs_data = {{ jobs_data|safe }}
		var dict = {};
		if(jobs_data) {
			for (i = 0; i < jobs_data.length; i++) {
				job_data = jobs_data[i];
				 //alert(jobs_data[i][6]);
				 if(dict[jobs_data[i][6]]){
					values = [];
					values = dict[jobs_data[i][6]];
					values.push(job_data);
				 	dict[jobs_data[i][6]] = values;
				 	 
				 }
				 else {
					 dict[jobs_data[i][6]] = [];
				 	 values = [];
				 	 values.push(job_data);
				 	 dict[jobs_data[i][6]] = values;
				 }
			} 
			
			var jobsHTML = "";
			
			for (var key in dict) {
				var value = dict[key]; 
				console.log(value);
				if(typeof value != "undefined" && value != null && value.length > 0) {
					if(jobsHTML){ 
						jobsHTML += loadCountryPositions(key,value,"", jobsHTML);
					}	
					else{
						jobsHTML = loadCountryPositions(key,value, "first-row", jobsHTML);
					}
				}
				//jobsHTML += loadCountryPositions("Switzerland",jobs_ch, "", jobsHTML);
				//jobsHTML += loadCountryPositions("India",jobs_in, "", jobsHTML);
			
			}
			document.getElementById('jobs_list').innerHTML = jobsHTML;
		}
		function loadCountryPositions (country, jobs, first_row_class, jobsHTML) {
			var cell_class = "";
			
			for (i = 0; i < jobs.length; i++) { 
				var skills_set = "";
				var type = "";
				var compensation = "";
				if (i==0){
					jobsHTML= '<div class = "col-md-4 ' + first_row_class + ' first-col" ><div class="heading"><h1><b>' + country + '</b></h1></div></div>'
				}
				if  (i < 2){
					cell_class = first_row_class;
				}
				else{
					cell_class = '';
				}
				if ((i+1)%3==0){
					cell_class += ' first-col';
				}
				if(jobs[i][1]) {
					skills_set = jobs[i][1];
				}else {
					skills_set="-";
				}
				if(jobs[i][2]) {
					type=jobs[i][2] + '@'; 
				}
				if(jobs[i][5]) {
					compensation='Compensation: '+jobs[i][5] + '<br>';
				}
				link_url = "/jobs/" + country + "/" + i
				jobsHTML+= '<div class = "col-md-4 main-section ' + cell_class + '"  onclick="javascript:window.location.href=' + "'" + link_url + "'" + ';">';
				jobsHTML+= '<div class="heading"><h4>' + jobs[i][0] + '</h4></div>';
				jobsHTML+= '<div class="hidden details"><h4>' + jobs[i][0] + '</h4><p>';
				jobsHTML+=  skills_set + '<br>'+compensation+ type + jobs[i][3] + '</p></div></div>';
			}
			if ((i+1)%3!=0){
				var filler_cells = 3 - (i+1)%3;
				for (i=0; i<filler_cells;i++){
					jobsHTML+='<div class = "col-md-4">&nbsp;</div>';
				}
			}
			return jobsHTML;
		}
		</script>
	{% endblock page_usable_javascript %} 
