{%extends 'base.html'%} 

#Change page specific attributes 
{% block title %}ISHI-Capabilities:High Performance Systems, Real-time Processing, Distributed Computing, Big Data, Cluster Management{% endblock title %} 
{% block head_canonical %} <link rel="canonical" href="/cloudnative/">{% endblock head_canonical %}
{% block link_cap_class %}active{% endblock %}
{% block content %}
	{%block sub_menu%} 
		{% include  "capabilities_sub_menu.html" %}
    {%endblock%}
	<div class="page-content">
    	<div class="wrap">
	        <div class="cap-top">
	            <div class="container">
	                <div class="jumbotron center">
	                    <h1>Cloud Native Computing</h1>
	                    <p>INNOVATE FASTER</p>
	                </div>
	            </div>
	        </div>
            <div class="innovate_faster row">
	            <div class="col-sm-8 col-xs-12 padding0 innovate_fasterLeft">
	                <div class="col-xs-12">
	                    <p class="paraStyle">The need to innovate at speed has never been greater.
	                        Your business now depends on rolling out new products
	                        rapidly, scaling instantaneously and being cost effective
	                        to operate.</p>
	                    <p class="paraStyle marginTop30">Traditional technology, architectures and team structures
	                        are proving increasingly insufficient to the handle this
	                        new environment. </p>
	                </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 padding0 innovate_fasterRight">
                        <h4 class="headingStyle">INTRODUCTION TO CLOUD NATIVE COMPUTING</h4>
                        <a class="bannerButton buttonStlye3" href="http://cloudnative.ishisystems.com/whitepaper/download"><span>Download<br />Whitepaper</span></a>
                    </div>
             </div>

             <div class="CNWrapper2">
                 <div class="container">
                     <p class="col-md-10 col-md-offset-1 paraStyle2">Cloud Native Computing is an emerging technology and organizational strategy that allow
                         enterprises to operate at internet speed. Organizations embracing Cloud Native Computing
                         have consistently shown the ability to deliver products faster and respond to changes quicker.</p>
                     <div class="cn_cycle col-md-12">
                         <img src="{{baseUrl}}ishisystems/images/cn_cycle.jpg" alt=""/>
                     </div>
                     <p class="col-md-10 col-md-offset-1 paraStyle2">Cloud Native Computing defines technology, architecture, organizational structure, application
                         delivery and operations driven by the need for operational efficiency, hyper scale, fault tolerance
                         and rapid application releases. </p>
                 </div>
             </div>
             <div class="CNWrapper3">
                 <div class="container">
                     <h2 class="headingStyle2">Cloud Native Computing aims to achieve 10x-50x improvement in IT
                         efficiency driven by the following key characteristics:</h2>
                     <div class="col-md-12 text-center">
                         <ul class="cnUlli">
                             <li>End to End Automation</li>
                             <li>High Developer Velocity</li>
                             <li>Increased Utilization</li>
                             <li>Automatic Fault Tolerance</li>
                             <li>Auto Scaling</li>
                         </ul>
                     </div>
                 </div>
             </div>
			 <div class="CNWrapper4">
             <div class="container">
                 <div class="col-md-12 col-sm-12">
                            <p class="paraStyle2">We are at the forefront of Cloud Native Computing. We invest extensively in understanding and
implementing Cloud Native platforms and partner with best in class Cloud Native technology providers.</p>
                            <p class="paraStyle2 marginTop30">We provide end-to-end services for enterprises adopting Cloud Native platforms around transformation
strategy, implementation, application development and operations.</p>
	             </div>
	                 <div class="BottomContentImg col-xs-12">
	                     <img class="dsImg" src="{{baseUrl}}ishisystems/images/bottom_content_cn_1.jpg" alt="" />
	                     <img class="dsImg" src="{{baseUrl}}ishisystems/images/bottom_content_cn_2.jpg" alt="" /> 
	                     <img class="rsImg" src="{{baseUrl}}ishisystems/images/bottom_content_cn_1_mob.jpg" alt="" />
	                     <img class="rsImg" src="{{baseUrl}}ishisystems/images/bottom_content_cn_2_mb.jpg" alt="" />
	                     <img class="rsImg lstImg" src="{{baseUrl}}ishisystems/images/bottom_content_cn_3_mb.jpg" alt="" />
	             </div>
             </div>
     	</div>
	</div>
  
{%endblock%}
















	
     	