 <!-- Footer middle section : this is for response thanks page only included in footer template-->
 <div class="col-md-3">
 	<h4>SOCIAL</h4> 
		<p>
			<a>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x footer-icon-bg"></i>
				  <i class="fa fa-google-plus fa-stack-1x footer-icon"></i>
				</span>
			</a>
			<a>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x footer-icon-bg"></i>
				  <i class="fa fa-linkedin fa-stack-1x footer-icon"></i>
				</span>
			</a>
			<a>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x footer-icon-bg"></i>
				  <i class="fa fa-twitter fa-stack-1x footer-icon"></i>
				</span>
			</a>
		</p>
 </div>
 <div class="col-md-3 contact">
 	<h4>CONTACT</h4>
	 	<p><i class="fa fa-building-o"></i>Ishi Systems</p>
		<p><i class="fa fa-phone"></i>201-332-6900</p>
		<p><i class="fa fa-fax"></i>201-332-1588</p>
</div>	 