<!-- Footer middle section : this if for all pages-->
<div class="col-md-3">
    <h4>SOCIAL</h4> 
    <p> 
    <a target="_blank" href="{{ APP_LINKEDIN_URL }}">
	     <span class="fa-stack fa-lg">
	         <i class="fa fa-circle fa-stack-2x footer-icon-bg"></i>
	         <i class="fa fa-linkedin fa-stack-1x footer-icon"></i>
	     </span>
     </a>
     <a>
     <a target="_blank" href="{{ APP_TWITTER_URL }}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x footer-icon-bg"></i>
            <i class="fa fa-twitter fa-stack-1x footer-icon"></i>
        </span>
    </a>
    </p> 
</div>
<div class="col-md-3 contact">
    <h4>CONTACT</h4> 
    <p><a href="/contactus/#contactUs"><i class="fa fa-building-o"></i>Ishi Systems</p></a>
    <p><i class="fa fa-phone"></i>201-332-6900</p>
    <p><i class="fa fa-fax"></i>201-332-1588</p> 
</div>