{%extends 'base.html'%} 

#Change page specific attributes 
 
{% block title %}ISHI: Managed Solutions{% endblock title %} 
{% block head_canonical %} <link rel="canonical" href="/managed-solutions/">{% endblock head_canonical %}
 
{% block content %} 
	{%block sub_menu%} 
	     	{% include  "services_sub_menu.html" %}
    {%endblock%}
	 
	<div class="page-content">
    	<div class="wrap">
	      	<div class="container">
				<div class="jumbotron center">
					<h1>From design and development to production and beyond.</h1>
				</div>
			</div>
			<div class="managed-solutions-section1">
				<div class="container">
					<div class="row">
						<div class="col-md-12 center">
							<h4>SUSTAINABLE, HIGH QUALITY SOLUTIONS</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="managed-solutions-section2">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-3 arrow-first">
							<h4>COLLABORATIVE DESIGN</h4>
							<p>We work closely with your technology and business teams</p>
						</div>
						<div class="col-md-3 arrow">
							<h4>HIGH QUALITY DELIVERY </h4>
							<p>Test-Driven Development, Continuous Delivery</p>
						</div>
						<div class="col-md-3 arrow">
							<h4>SCALABLE DEPLOYMENT</h4>
							<p>Leverage our expertise in dynamically scalable, high availability infrastructure</p>
						</div>
						<div class="col-md-3 arrow">
							<h4>SUSTAINABLE OPERATIONS</h4>
							<p>Transition to cost-effective, sustainable operating models</p>
						</div>
					</div>
				</div>
			</div>
			<div class="managed-solutions-section3">
				<div class="container">
					<div class="row">
						<div class="col-md-12 center">
							<h4>MANAGED RISKS AND COSTS, TIMELY DELIVERY</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="text-section">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 center">
								<h2>At Ishi, our mindset is guided by a keen focus on creating value for the customer.</h2>
								<p>To realize customer value we orchestrate seamless transition between development and mature operations of the product or service. We partner with our customers with a collaborative, transparent and agile approach to ensure success from inception, design, and development to production.</p>
								<p>Our offerings enable our customers to realize innovative products and services in today's fast paced business environment. To create experiences that scale, Ishi provides system design and engineering services. Our 20 year history, global footprint and experience spans industries and technologies.</p>
							</div>
							<div class="col-md-1">
						</div>
					</div>
				</div>
			</div>
			<div class="text-section managed-solution-approach">
				<div class="container">
					<div class="row center">
						<h2>Our Approach</h2>
					</div>
					<div class="row">
						<div class="center col-md-4 sub-section-3">
							<h4>End-to-End Delivery</h4>
							<p>Certainty of outcome with predictable delivery and reduced risk</p>
							<p>Carefully tailored agile delivery process for products and complex systems development initiatives</p>
							<p>Repeatable and sustainable team practices to enable a highly visible delivery cadence</p>
						</div>
						<div class="col-md-4 center sub-section-3 sub-section-3-side-borders">
							<h4>Focus on Quality </h4>
							<p>Talented people, consistent processes and contemporary delivery infrastructure help ISHI deliver quality products</p>
							<p>Bake quality in. Recipe &#8212; test driven development and continuous automated testing</p>
							<p>Robust architectural quality of the system through performance engineering and rigorous security testing</p>
						</div>
						<div class="col-md-4 center sub-section-3">
							<h4>Operational Sustainability</h4>
							<p>Extensive experience in Continuous Delivery and Dev Ops allows us to effectively operationalize and optimize systems</p>
							<p>We empower our clients and help transition to lower cost operational models</p>
							<p>We can provide managed services, application hosting(cloud) or deploy solutions inside your firewall</p>
						</div>
					</div>
				</div>
			</div>
				<div class="row">
				<div class="col-md-6 text-section  managed-solution-creative center">
					<h2>Creative Solutions</h2>
					<i><h4>Solutions driven by a highly collaborative group of design thinkers in a passionate pursuit to discover what users want.</h4></i>
					<li>Highly collaborative, cross-disciplinary teams</li>
					<li>Passion for new technologies</li>
					<li>Unfazed by complex problems </li>
					<li>Innovation through discovery</li>
				</div>
				<div class="col-md-6 text-section  managed-solution-results center">
					<h2>Compelling Results</h2>
					<i><h4>We ensure business value by aligning our core values of delivery, quality and creativity with proven methods and tools.</h4></i>
					<li>Quicker time-to-market</li>
					<li>Cohesive, business-centric solutions</li>
					<li>Contemporary approach for rapid development of products and systems</li>
					<li>High quality driven by TDD and automation</li>
				</div>
			</div>
		</div>
	</div>
{%endblock content%}