<!-- Services Sub menu -->
{%load utils%}
<div class="row">
	<div class="float-right">
	  <ul class="nav navbar-nav sub-menu">
		<li class="{% active 'managed-solutions' %}"><a href="/managed-solutions/" class="dummyClass2">Managed Solutions</a></li>
		<li class="{% active 'datacenter' %} "><a href="/datacenter/" class="dummyClass2">Data Center Scaling</a></li>
		<li class="{% active 'services-framework' %} "><a href="/services-framework/" class="dummyClass2">Framework: RapidEye</a></li>
	  </ul>
	</div>
</div>